# external requirements
python-dotenv>=0.5.1
langchain
langgraph
langsmith
openai
dagshub
fastapi
uvicorn
langchain-community
langchain-text-splitters
faiss-cpu
neo4j
beautifulsoup4
langchain-groq
prometheus_client
langfuse
langgraph-checkpoint-sqlite
sentence-transformers
langchain-huggingface
langchain-openai